.content {
  text-align: center;


  section{
    height: 120px;
    margin-top: -17px;
    background-color: $white;

    .addmargin{
      margin-left: 3px;
      margin-top: 17px;
    }
  }

  .row{
    margin: 0;



    .nopadding{
      padding: 0;
    }

    .block{
      padding: 35px 0;
    }

    .text{
      padding: 35px 60px;

    }


    .to-left {
      float: left;
    }

    .to-right{
      float: right;
    }




  }
  .title{
    background-color: $white;
    margin:0 auto;
    text-align: center;


  }
  .maps{
    height: 473px;
    background: url(../img/maps.png);
    background-repeat: no-repeat;



  }










}