.content {
  text-align: center;
  background-color: white;

  section{
    margin-top: -17px;
    background-color: $white;
    height: 155px;
    width: 1200px;

    .addmargin{
      margin-left: 5px;
      margin-top: 16px;
      line-height: 26px;
    }

    .styleP{
      padding-top: 13px;
      margin-left: 5px;
      line-height: 10px;
    }

  }

  .row{
    margin: 0;

    .nopadding{
      padding: 0;
    }

    .block{
      padding: 68px 0;

      .blockwhite{
        padding-top: 2px;
        line-height: 21px;
        margin-left: 4px;
      }
    }

    .text {
      padding-left: 6px;
      margin: 54px 40px 0 40px;
    }
    .stylenumverP {
      margin-right: -3px;
      padding-top: 12px;
      line-height: 14px;
    }

    .styleP {
      padding-top: 13px;
      margin-left: 4px;
      line-height: 16px;

    }


    .to-right{
      float: right;
        .stylenumverP{
          margin-right: -3px;
          padding-top: 12px;
          line-height: 14px;
        }

        .styleP{
          padding-top: 13px;
          margin-left: 4px;
          line-height: 16px;
        }
    }

    .to-left {
      .styleP{
        padding-top: 13px;
        margin-left: 1px;
        line-height: 14px;
      }
    }

    .title{
      margin-left: 3px;
      margin-top: 54px;
      line-height: 28px;

    }

    .titleP {
      padding-top: 1px;
      margin-left: 8px;
    }
  }

  .blockstyle{padding: 42px 0;
      p{margin: 3px 0 22px 2px;}
  }

  .blockstylenumverP{
    margin-right: -1px;
    padding-top: 4px;
    line-height: 14px;

  }
  .blockstyleP{
    padding-top: 5px;

    line-height: 16px;
    font-family: "open",'Open Sans', sans-serif;
  }

  .choose-hotel{
    position: relative;
    z-index: 1;
    width:568px;
    margin:0 auto;
    text-align: center;
  }

  .maps{
    height: 473px;
    background: url(../img/maps.png);
    background-repeat: no-repeat;
  }

  /*Фото и Видео*/
  .transparency {
        .one {
          margin-top: 319px;
        }
        .three{
          margin-top: 187px;
        }
        .transparency-bg-img {
          background: $black;
          opacity: 0.52;
          height: 80px;
          position: absolute;
          width: 100%;
          .info_img {
            color: $white;
            .boldfont {
              font-weight: 900;
              float: left;
            }
            .nouppercase {
              text-transform: none;
              float: left;
              margin-top: 35px;
              position: absolute;
            }
          }

          .like {
            color: $white;
            width:110px;

            i {
              margin-top: 26px;
              float: left;
            }
            p {
              margin-top: 31px;
            }
          }
        }
  }



}


  /*transparency-three_block{
    background: #333333;
    height:80px;
    position: absolute;



  }
  .three_block{
    opacity: 0.52;
    margin-top: 187px;
    width: 400px;

  }*/



