.content {
  text-align: center;


  section{
    margin-top: -17px;
    background-color: $white;
    height: 155px;
    width: 1200px;

    .addmargin{
      margin-left: 5px;
      margin-top: 16px;
      line-height: 26px;
    }

    .styleP{
      padding-top: 13px;
      margin-left: 5px;
      line-height: 10px;

    }




  }

  .row{
    margin: 0;



    .nopadding{
      padding: 0;
    }

    .block{
      padding: 68px 0;

      .blockwhite{
        padding-top: 2px;
        line-height: 21px;
        margin-left: 4px;
      }
    }

    .text {
      padding-left: 6px;
      margin: 54px 40px 0 40px;
    }
    .stylenumverP {
      margin-right: -3px;
      padding-top: 12px;
      line-height: 14px;

    }

    .styleP {
      padding-top: 13px;
      margin-left: 4px;
      line-height: 16px;

    }


    .to-right{
      float: right;

        .stylenumverP{
          margin-right: -3px;
          padding-top: 12px;
          line-height: 14px;

        }

        .styleP{
          padding-top: 13px;
          margin-left: 4px;
          line-height: 16px;

        }


    }


    .to-left {


      .styleP{
        padding-top: 13px;
        margin-left: 1px;
        line-height: 14px;

      }
    }

    .title{
      margin-left: 3px;
      margin-top: 54px;
      line-height: 28px;

    }

    .titleP {
      padding-top: 1px;
      margin-left: 8px;

    }


  }

  .blockstyle{
    padding: 42px 0;

    p{
      margin: 3px 0 22px 2px;
    }
  }

  .blockstylenumverP{
    margin-right: -1px;
    padding-top: 4px;
    line-height: 14px;

  }
  .blockstyleP{
    padding-top: 5px;

    line-height: 16px;
    font-family: "open",'Open Sans', sans-serif;
  }


  .maps{
    height: 473px;
    background: url(../img/maps.png);
    background-repeat: no-repeat;
  }










}