footer {
  height: 120px;
  background: url(../img/mapsend.png);


  .bg-footer{
    height: 120px;
    opacity: 0.88;
    background-color: $white;
    margin: 0;
    text-align: center;



    .name-footer{
      margin: 50px auto;

    }
    .social {
      margin: 34px auto;


    }
    .copyright{
      margin: 42px auto;

      span{
        margin-left: 83px;
      }

      a{
        height: 39px;
        width: 113px;
        float: right;
        margin-right: 83px;

        &:hover{
          background-color: $dark-blue;
        }
      }
    }
  }
}