.btn{
  width: 457px;
  height: 54px;
  color:$white;
  text-transform: uppercase;
  margin: 0 auto;
  padding-top: 15px;




}



.btnsocial {
  display: inline-block;
  padding: 12px 15px;
  color: #fff;
  background-color: #81b3d2;
  width: 45px;
  height: 45px;

  &:hover{
    background-color: $dark-blue;
  }


}
