.btn{
  width: 568px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 21px;
  padding: 25px;
  margin-top: 46px;





}



.btnsocial {
  display: inline-block;
  padding: 12px 15px;
  color: #fff;
  background-color: $blue;
  width: 46px;
  height: 48px;
  margin: 0 1px;

  &:hover{
    background-color: $dark-blue;
  }


}
.btn-order{
  position:relative;
  z-index: 2;
  display: block;
  width: 568px;
  text-align: center;

  &:hover{
    background-color: $very-dark-brown;

  }
}

.btn-search{
  width: 456px;
  height: 58px;
  background-color: $light-blue;
  text-transform: uppercase;
  color: $white;
  margin-top: 54px;

  &:hover{
    background-color: $dark-blue;

  }
}
