.btn{
  width: 568px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 21px;
  padding: 25px;
  margin-top: 46px;





}



.btnsocial {
  display: inline-block;
  padding: 12px 15px;
  color: #fff;
  background-color: $blue;
  width: 46px;
  height: 48px;
  margin: 0 1px;

  &:hover{
    background-color: $dark-blue;
  }


}
